AOSS_ID=
AOSS_AWS_REGION=
AOSS_INDEX_NAME=
BEDROCK_CHAT_MODEL_ID=anthropic.claude-3-5-sonnet-v2:0
ALLOWED_ORIGINS=http://localhost:4200
POLLY_VOICE_ID=Joanna
POLLY_ENGINE=standard
POLLY_LANGUAGE_CODE=en-US
SOURCE_IMAGE_URL_EXPIRES_SECONDS=3600
CONTACT_DDB_TABLE=
CONTACT_DDB_PK_NAME=submissionId
CONTACT_DDB_SK_NAME=
CONTACT_EMAIL_FROM=
CONTACT_EMAIL_TO=
CONTACT_SMS_TO=
